<html> 
<head>
  <title>The Gossip Project</title>
</head>

<body>
  <h1> Mon super site de gossip, voici la liste des potins</h1>

  <% gossips.each do |gossip| %>
  <p>
    <%= gossip.author %><br/>
    <%= gossip.content %>
  </p>
<% end %>

    <p>Si tu n'as pas eu ta dose de potins tu peux aller  
      <a href="/gossips/new/">ici</a> 
    pour en créer un nouveau !</p> 
</body>

</html>
